.footer-bottom {
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    padding: 2rem;

    h3 {
        text-transform: uppercase;
        color: white;
        margin-top: 10px;
        font-size: 1.5rem;
    }

    .links-footer {
        display: flex;
        gap: 20px;

        li {
            line-height: 0.8;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    a {
        color: #8E8E8E;
        font-size: 0.9rem;
        font-weight: bold;
    }
}